<html>
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <style>
      .box{
        width: full;
        height: 100vh;
      }
    </style>
  </head>
  <body>
    <div class="box">
      <iframe
        width="1920"
        height="1024"
        src="https://embed.windy.com/embed.html?type=map&location=coordinates&metricRain=mm&metricTemp=°C&metricWind=km/h&zoom=5&overlay=wind&product=ecmwf&level=surface&lat=5.616&lon=77.563&detailLat=9.535748998133627&detailLon=76.99218750000001&detail=true&pressure=true&message=true"
        frameborder="0"
      ></iframe>
    </div>
  </body>
</html>
